body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

button:focus,
input:focus {
    outline: none;
}

.scroll-area {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.category-items {
    flex: 0 0 auto;
    margin-right: 16px;
}

.scroll-area::-webkit-scrollbar {
    display: none;
}

.scroll-area {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
